<div class="wrapper">
    <div class="sidebar-menu">
      <ul>
        <li><a routerLink="/layout">Layout</a></li>
        <li><a routerLink="/users">Generic Table</a></li>
      </ul>
    </div>
    <div class="main">
      <div class="content">
        <div
          class="content-wrapper"
        >
          <ng-content></ng-content>
        </div>
        <footer class="grey-footer">
          <div class="container">
            <p>Copyright © 2023 Your Company</p>
          </div>
        </footer>
  
      </div>
    </div>
  </div>
  