.wrapper {
    display: flex;
    // justify-content: stretch;
    // align-items: stretch;
    .main {
      flex: 1;
      // overflow-x: auto;
      .content {
        height: calc(100vh - 62px);
        width: 100%;
        overflow-y: auto;
        .content-wrapper {
          display: flex;
          min-height: calc(100% - 60px);
        }
      }
    }
    .sidebar-menu {
      width: 200px;
      height: calc(100vh - 62px);
      background-color: #f2f2f2;
      border-right: 2px solid #999999;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
  
      li {
        padding: 10px 0;
      }
  
      a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: #333333;
      }
    }
  
  
    .grey-footer {
      background-color: #ced0cf;
      color: #666;
      padding: 20px 0;
      .container {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
      }
      p {
        margin: 0;
      }
    }
  
  
  
  
  }
  